/**** Headline Styles ****/

.headline1,
.is-style-headline1 {
	line-height: 1.25;
	letter-spacing: -.5px;
	@include secondary-semi;
	@include font-size($font-size-headline1);
}	

.headline2,
.is-style-headline2 {
	line-height: 1.375;
	letter-spacing: -.5px;
	@include secondary-semi;
	@include font-size($font-size-headline2);
}	

.headline3,
.is-style-headline3 {
	line-height: 1.25;
	@include primary-semi;
	@include font-size($font-size-headline3);
}

.headline4,
.is-style-headline4 {
	line-height: 1.41;
	@include primary-semi;
	@include font-size($font-size-headline4);
}	

h3.is-style-headline4 {
	background: #fff0e9;
    display: inline-block;
    text-align: center;
    padding: 0 10px;

	&:after {
		border-bottom: 1px solid #dedede;
		content: "";
		display: inline-block;
		left: 0;
		position: absolute;
		top: 50%;
		width: 100%;
		z-index: -1;
	}
}

.headline5,
.is-style-headline5 {
	line-height: 1.3;
	letter-spacing: .2px;
	@include primary-semi;
	@include font-size($font-size-headline5);
}

.headline6,
.is-style-headline6 {
	line-height: 1.4;
	letter-spacing: .2px;
	@include primary-semi;
	@include font-size($font-size-headline6);
}

.component-heading {
	position: relative;
	text-align: center;
}

.component-heading.has-image {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	img {

		max-width: 45px;
		width: auto;
		height: auto;
		max-height: 30px;
		margin-right: $gap*5;

		@include mediaquery(tablet-portrait) {
			max-width: 80px;
			max-height: 50px;
			margin-right: $gap*2;
		}
	}
}
