/**** Global Nav Styles ****/
//Override with custom styles in child theme
.component-header {
	background: $background;
	height: $navMobileHeight;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: top .3s ease-in;
	width: 100%;
	z-index: 1000;

	@include mediaquery(tablet-landscape)  {
		align-items: center;
		display: flex;
		height: $navHeight;
	}

	.hideNav & {
		top: -($navMobileHeight);

		@include mediaquery(tablet-landscape)  {
			top: -($navHeight);
		}
	}

	.navOpen &, 
	.navOpen.hideNav & {
		top: 0;
	}

	.header-inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		margin: 0 auto;
		max-width: $siteWidth;
		padding: $gap*.75;
		width: 100%;

		@include mediaquery(desktop)  {
			padding: $gap*.75 0;
		}
	}

	.logo-wrapper {
		display: block;
		position: relative;
		z-index: 10;

		.nav-logo {
			display: inline-block;
			transform: scale(0.7);

			@include mediaquery(tablet-portrait) {
				transform: scale(1);
			}
		}
	}

	.main-nav {
		@include mediaquery-max-width(tablet-landscape) {
			// Mobile only mediaquery so less overrides are necessary
			position: absolute;
			top: 0;
			right: -100vw;
			background-color: white;
			height: 100vh;
			width: 100%;
			transition: right .3s ease-in;
			padding-top: calc(#{$navMobileHeight} + 20px);

			.navOpen & {
				right: 0;
			}
		}

		@include mediaquery(tablet-landscape)  {
			// Large mobile + 
			margin-left: 80px;
			width: calc(100% - 160px);
		}
	}

	.menu-items {
		@include mediaquery-max-width(tablet-landscape) {
			// Mobile only mediaquery so fewer overrides are necessary
			text-align: center;
		}

		@include mediaquery(tablet-landscape)  {
			// Large mobile + 
			text-align: right;
		}
	}

	.menu-item {
		position: relative;
		@include primary-regular;
		z-index: 2;

		@include mediaquery-max-width(tablet-landscape) {
			// Mobile only mediaquery so less overrides are necessary
			font-size: px-to-rem(18px);
			margin-bottom: $gap;
			display: block;
		}

		@include mediaquery(tablet-landscape)  {
			// Large mobile + 
			display: inline-block;
			font-size: px-to-rem(16px);
			opacity: 1;
			transition: opacity .3s ease-in;
		}

		a {
			position: relative;

			&:after {
				background-color: transparent;
				bottom: -4px;
				content: '';
				display: block;
				height: 3px;
				left: 0;
				opacity: 0;
				position: absolute;
				transition: background-color .3s ease-in, opacity .3s ease-in;
				width: 100%;
			}
		}

		&.current-menu-item {
			a:after {
				background-color: $black;
				opacity: 1;
			}
		}

		@include mediaquery(desktop)  {
			&:hover {
				opacity: .7;

				a:after {
					background-color: $black;
					opacity: .7;
				}
			}
		}
	}

	.icon-instagram,
	.icon-representation {
		position: absolute;
		top: 44px;
		right: 66px;

		img {
			width: 35px;
		}
	}

	.icon-instagram {
		display: none;

		@include mediaquery(tablet-landscape) {
			display: block;
		}
	}

	.icon-representation {
		top: 16px;
		right: 24px;

		@include mediaquery(tablet-landscape) {
			display: none;
		}
	}
}

.component-nav-modal {
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
	bottom: 0;
	color: white;
	display: flex;
    justify-content: center;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	transition: all .5s;
	top: 0;
	z-index: 1001;

	.navOpen & {
		opacity: 1;
		pointer-events: auto;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			margin: 0;
			padding: 2rem $gap;
			text-align: center;

			@include mediaquery(phone) {
				padding: 3rem $gap;
			}

			@include mediaquery(tablet-landscape) {
				display: inline-block;
				padding: 0 $gap;
			}

			a {
				font-family: $secondaryRegular;
				font-size: 3rem;
				text-transform: uppercase;
				transition: all .2s;

				@include mediaquery(phone) {
					font-size: 3rem;
				}

				@include mediaquery(tablet-landscape) {
					font-size: 4rem;
				}

				&:hover,
				&.active {
					color: black;
					text-shadow: -1px -1px white, 1px -1px white, -1px 1px white, 1px 1px white;
				}
			}
		}
	}

	.menu-item-background {
		display: none;
		height: auto;
		left: 25vw;
		margin-top: -20%;
		opacity: 0;
		position: absolute;
		top: 50vh;
		transition: opacity .2s;
		width: 50vw;

		&.active,
		&.current {
			opacity: 1;
			z-index: -2;
		}

		&.active {
			z-index: -1
		}

		@include mediaquery(tablet-portrait) {
			display: block;
		}
	}
}
