:root { 
	--color-brand-primary: #1d1d1d;
	--color-brand-secondary: #838383;
	--color-brand-accent: #feb400;
	--color-text-body: #1d1d1d;
	--color-text-link: #9e7700;
	--color-default-white: #FFFFFF;
	--color-default-black: #000000;
}

$background: #fff0e9; // pink
$grey: #c7c7c5;