/**** Element in Viewport - Prevents flashing for Element in Viewport transition
*	(js adds opacity 1 once loaded)
*	Add elements or classes that are present BEFORE js and are affected by the Element in Viewport script
****/

h3, h4, h5, h6, p, span, .cta, img {
	// opacity: .5;
	// transition: opacity .1s ease-in;

	.no-element-in-view &, &.no-element-in-view {
		// opacity: 1;
	}
}

.mce-content-body, .wp-admin {
	// Inside the WYSIWYG editor and admin, prevent hidden text
	h3, h4, h5, h6, p, .cta, span, img {
		opacity: 1;
		transition: opacity .1s ease-in;

		.no-element-in-view &, &.no-element-in-view {
			opacity: 1;
		}
	}
}

html {
	height: 100%;

	// NOTE: Don't uncomment this. It prevents $(window).scroll() reporting
    // overflow-x: hidden;
}

body {
	background: #fff0e9;
	color: $defaultTextColor;
	font-smoothing: antialiased;
	font-size: 13px;
	height: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	@include primary-regular;

	&.popupOpen {
		// Prevents background from scrolling when PopUp is activated, optional 
		@include mediaquery-max-width(tablet-portrait) {
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
		}
	}
}

h1 {
	font-family: initial;
}

h2.is-style-headline2 {
	font-size: 24px;
}

// Notable films headlines
h3.is-style-headline2 {
	font-size: 3rem;

	.notable-films-menu & {
		br {
			display: none;
		}
		
		a {
			border-bottom: 1px solid #dedede;
			display: block;
			margin-bottom: 20px;
			padding-bottom: 20px;
		}
	}
}

main.content {
	width: 100%;
	// height: 100%;

	.wp-admin & {
		height: auto;
	}
}

article {
	height: 100%;
}

.content-container {
	min-height: calc(100vh - 150px);
}

.flex-grid {
	align-content: inherit;
	letter-spacing: inherit;
}

// SVG sprite is hidden from the screen
.svg-sprite {
	height: 0;
	overflow: hidden;
}

// Accessibility trick to hide span nearby with aria values
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
	position: absolute;
    width: 1px;
}

.component-button {
	a.cta {
		border: 0;
		color: #181818;
		// font-size: 12px;
		font-size: .8rem;
		letter-spacing: 2px;
		line-height: 16px;
		min-height: 0;
		padding: 0;
		text-transform: uppercase;

		&:hover {
			background: transparent;
			color: black;
		}

		&.is-style-cta {
			&:after {
				background: url(../assets/images/arrow-right-long.svg) no-repeat;
				content: '';
				display: inline-block;
				height: 15px;
				left: 2px;
				position: relative;
				top: 7px;
				width: 54px;
			}
		}
	}
}

.component-hero {
    // Heightened specificity needed
    &.trigger-when-visible {
		transition: all 3s;
		transition-delay: 4s;
		background-color: #d6d1cd;
		background-position-x: 5vw;

		h1, a {
			opacity: 0;
			transition: opacity 1s;
			transition-delay: 2.75s;
		}

		&:after {
			background: url(../assets/images/Logo-animation.gif) no-repeat center center;
			bottom: 0;
			content: '';
			left: 0;
			display: block;
			pointer-events: none;
			position: absolute;
			right: 0;
			top: 0;
			transition: all 2s;
			transition-delay: .5s;
		}

		&:before {
			background: #fff0e9;
			bottom: 0;
			content: '';
			display: block;
			left: 0;
			opacity: 1;
			pointer-events: none;
			position: absolute;
			right: 0;
			top: 0;
			transition: all 4s cubic-bezier(0.18, 1.11, 0.79, 0.99);
			transition-delay: 2s;
		}
	}

    &.triggered {
    	background-position-x: inherit;

    	h1, a {
    		opacity: 1;
    	}

    	&:after {
    		opacity: 0;
    	}

    	&:before {
			left: 100vw;
			// opacity: 0;
    	}
    }
}

// Using specificitiy hack
.component-image.component-image {
	figcaption {
		margin: 0 auto;
		margin-bottom: 24px;
		width: 100%;

		em {
			color: #787878;
			display: block;
			font-family: $secondaryRegular;
			font-size: 16px;
			padding-top: $gap;
			text-align: left;

		}

		strong {
			display: block;
			font-family: $secondaryRegular;
			font-size: 24px;
			font-weight: normal;
			padding-top: $gap;
			text-align: left;
		}
	}

	img {
		width: 100%;
	}
}

.component-representation {
	// Extra specicifity required to overcome 
	// width value set in .component
	&.component {
		background: #fff0e9;
		bottom: 0;
		display: none;
		margin-right: -85vw;
		position: fixed;
		right: 66px;
		top: 0;
		transition: all .5s;
		width: 85vw;
		z-index: 1000;

		@include mediaquery(tablet-landscape) {
			display: block;
			margin-right: -30vw;
			width: 30vw;
		}

		.navOpen & {
			z-index: 999;
		}

		.trayOpen & {
			background: white;
			margin-right: 0;
			right: 0;
			// width: 85vw;

			@include mediaquery(tablet-landscape) {
				// width: 30vw;
			}
		}

		h2 {
			background: #fff0e9;
			font-style: italic;
			position: absolute;
			text-align: center;
			// Offset by top and bottom padding + font size
			// top: calc($gap * -4 - 18px);
			top: -66px;
			transition: all .5s;
			transform: rotate(90deg);
			transform-origin: bottom left;
			width: 100vh;

			.trayOpen & {
				background: white;
			}

			a {
				display: block;
				font-family: $secondaryRegular;
				font-size: 18px;
				font-weight: 100;
				letter-spacing: 0.1rem;
				padding: $gap*2 0;

				&:after {
					background: transparent url(../assets/images/arrow-left.svg) no-repeat;
					content: '';
					display: inline-block;
					height: 13px;
					left: 10px;
					position: relative;
					top: 4px;
					transform: rotate(-90deg);
					// transition: all .5s;
					width: 9px;

					.trayOpen & {
						background: transparent url(../assets/images/arrow-right.svg) no-repeat;
						transform: rotate(-90deg);
					}
				}
			}
		}

		h3 {
			color: #181818;
			font-family: Helvetica;
			font-size: 12px;
			letter-spacing: 2px;
			line-height: 16px;
			padding-bottom: $gap;
		}

		p {
			line-height: 1.6rem;
			padding-bottom: $gap;
		}

		ul {
			color: #181818;
			font-size: 10px;
			letter-spacing: 1px;
			line-height: 16px;
			margin: 20vh 0 0 $gap*10;
			text-transform: uppercase;
		}
	}
}

.component-nav-modal {
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
	bottom: 0;
	color: white;
	display: flex;
    justify-content: center;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	transition: all .5s;
	top: 0;
	z-index: 1001;

	.navOpen & {
		opacity: 1;
		pointer-events: auto;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 2rem $gap;
			text-align: center;

			@include mediaquery(phone) {
				padding: 3rem $gap;
			}

			@include mediaquery(tablet-landscape) {
				display: inline-block;
				padding: 0 $gap;
			}

			a {
				font-family: $secondaryRegular;
				font-size: 3rem;
				text-transform: uppercase;
				transition: all .2s;

				@include mediaquery(phone) {
					font-size: 3rem;
				}

				@include mediaquery(tablet-landscape) {
					font-size: 4rem;
				}

				&:hover,
				&.active {
					color: black;
					text-shadow: -1px -1px white, 1px -1px white, -1px 1px white, 1px 1px white;
				}
			}
		}
	}
}

.component-video-modal {
	background: rgba(255, 255, 255, .8);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;

	.showVideoModal & {
		display: block;
	}

	iframe {
		height: 80vh;
		margin-top: -25%;
		position: relative;
		top: 50%;
		width: 100vw;
	}

	.video-close {
		position: absolute;
		right: 20px;
		top: 20px;

		img {
			height: 20px;
			width: 20px;
		}
	}
}

.two-column-text {
	@include mediaquery(tablet-portrait) {
	    -webkit-column-count: 2;
	    -moz-column-count: 2;
	    -webkit-column-width: 40%;
	    -moz-column-width: 40%;
	    columns: 40% 2;
		column-count: 2;
		column-gap: 60px;
	}
}

mark {
	background-color: transparent !important;
}